
form {
    background-color: #e5f5f8;
    border-radius: 30px;
    font-family: Avenir;
    padding: 20px;
    width: 200px;
}
  
#form-prompt {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    
  }
  
button { margin-top: 50px; }
  
button:hover, input:hover, label:hover { cursor: pointer; }