<!DOCTYPE html>
<html lang="en">
<head>
<title>Dealing With Depression</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha38450oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>
    
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index_view' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white  ">Home</a>
    <a href="{% url 'survey_view' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Survey</a>
    <a href="{% url 'depression_view' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Depression</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'index_view' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{% url 'survey_view' %}" class="w3-bar-item w3-button w3-padding-large">Survey</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">

  <h1 class="w3-margin w3-jumbo">Dealing With Depression</h1>
  

</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Getting Help </h1>
      <h5 class="w3-padding-32">It is important to remember that you are not alone in your struggles. Reaching out to the friends and family is a great first step to addressing your feelings. <br>
          <br>If you feel like more professional help is necessary try reaching out to the following links:
          <br> National Suicide prevention Hotline: 1-800-273-8255
          <br> SAMHSA'S National Helpline: 1-800-622-4357
          <br> <a href="https://findtreatment.samhsa.gov/">Behavorial Health Treatment Service Locator</a>
      </h5>
      
      

      
    </div>

    <div class="w3-third w3-center">
        
      <i class="fas fa-phone-volume fa-5x w3-padding-64 w3-text-black w3-margin-right" style="font-size:120px"></i>
    </div>
  </div>    
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-futbol w3-padding-64 w3-text-red w3-margin-right " style="font-size:120px;"></i>
    </div>

    <div class="w3-twothird">
      <h1>Self-Help</h1>
      <h5 class="w3-padding-32">Sometimes some self-reflection is necessary to realize that you are not ok.
          <br>Here are some methods to stave off feelings of depression:
          <br>
          <br>Exercise: Exercising at least once per day can go great lengths to improve your mood. Try to introduce around 1 hour of exercise into your daily routine and you will start to feel better.
          <br>
          <br>Sleep: Getting good sleep is the most important way to get rid of depression. Everyone has different needs so try and figure out how much sleep you need to feel good, and prioritize getting it.
          <br>
          <br>Taking Breaks: Setting time aside for yourself each day is crucial for dealing with depression. Taking a break from work to do something that you love will be sure to improve your mood.
          <br>
          <br>Diet: A balanced diet is important for determining how you feel. Make sure that you are getting enough food, but avoid binge eating. Eating some healthier foods, like fruits and vegetables, can never hurt.
      </h5>

      
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">“You are the sky. Everything else is just the weather.” </h1>
    <p class="w3-text-grey">—Pema Chodron</p>
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
