.u-section-1 .u-sheet-1 {
  min-height: 6475px;
}

.u-section-1 .u-list-1 {
  width: 631px;
  margin: 60px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 317px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-text-11 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-text-13 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-text-15 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-text-17 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-1 .u-text-19 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-1 .u-text-21 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-1 .u-text-23 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-1 .u-text-25 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-25 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-26 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-1 .u-text-27 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-27 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-28 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-1 .u-text-29 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-29 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-30 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-1 .u-text-31 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-31 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-32 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-1 .u-text-33 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 489px 0 20px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: -10px 0 0 142px;
}

.u-section-1 .u-btn-33 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 21px 0 141px;
}

.u-section-1 .u-btn-34 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 21px 0 141px;
}

.u-section-1 .u-btn-35 {
  font-size: 1.875rem;
  margin: 95px auto 60px;
  padding: 10px 147px;
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-bottom: -1067px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 140px;
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-21 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-22 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-26 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-27 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-27 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-28 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-31 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-32 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -65px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-33 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 0;
    margin-left: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: -917px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 170px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-34 {
    margin-left: 0;
  }
}