<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha38450oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../static/countdown.css">
<script class="u-script" type="text/javascript" src="../static/countdown.js" defer=""></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'index_view'%}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="{% url 'survey_view'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Survey</a>
    <a href="{% url 'depression_view'%}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Depression</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'index_view' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{% url 'depression_view' %}" class="w3-bar-item w3-button w3-padding-large">Depression</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Mental Welbeing</h1>
  <p class="w3-xlarge">Take a deep breathe!</p>
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64  w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <form id="form" name="one" action="result">
        <div class="Question">
          <h2 id=form-prompt>Have you been experiencing episodes of nervousnessness recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques1">
        </div>


        <div class="Question">
          <h2 id=form-prompt>Have you had any panic attacks recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques2">
        </div>
        
        
        <div class="Question">
          <h2 id=form-prompt>Have you been having trouble concentrating?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques3">
        </div>
        
        <div class="Question">
          <h2 id=form-prompt>Have you been having trouble sleeping?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques4">
        </div>
        
        <div class="Question">
          <h2 id=form-prompt>Have you been struggling with work?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques5">
        </div>

        <div class="Question">
          <h2 id=form-prompt>Have you been having feelings of hopelessness?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques6">
        </div>

        <div class="Question">
          <h2 id=form-prompt>Have you been overreacting to situations recently?</h2>

          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques7">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Have your eating habits severely changed recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques8">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Have you had any suicidal thoughts recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques9">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Have you been feeling unmotivated?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques10">
        </div>

        <div class="Question">
          <h2 id=form-prompt>Do you think that you are addicted to social media?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques11">
        </div>
        
        
        <div class="Question">
          <h2 id=form-prompt>Have you gained or lost a lot of weight recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques12">
        </div>
      
        <div class="Question">
          <h2 id=form-prompt>Do you find yourself growing attached to material things?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques13">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Do you consider yourself an introvert?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques14">
        </div>
        
        <div class="Question">
          <h2 id=form-prompt>Do you find yourself remembering stressful memories of the past?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques15">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Have you had any negative thoughts recently?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques16">
        </div>

        
        <div class="Question">
          <h2 id=form-prompt>Do you blame yourself for things a lot?</h2>
          <input class="form-control" placeholder="(1 for 'Yes' 0 for 'No')" required type="text" name="Ques17">
        </div>

        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" value="Predict">Submit</button>
      </form>
      
    </div>
  </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge">“You are the sky. Everything else is just the weather.” </h1>
  <p class="w3-text-grey">—Pema Chodron</p>
</div>

<script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>  
</body>
</html>
